//Primary colors
$primaryColorLight: #ffffff;
$primaryDarkColor: #323232;
$primaryButtonColor: #0095ff;
$primaryColor: #afafaf; //silver

//Seconday colors
$secondaryDarkColor: #000000;
$secondaryButtonDarkColor: #0065ad;
$secondaryColor: #e1e1e1; //Mercury
$secondaryColorLight: #fafafa;
