@use "../../App.scss";
@use "../../styles/partials/colors";
@use "sass:map";
@use "../../styles/partials/mixins";

.comment-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem 0;
  &__panel {
    padding: 1rem 0;
    @include mixins.tablet {
      margin: 0 3rem;
      row-gap: 2rem;
    }
    @include mixins.desktop {
      margin: 0 3rem;
      row-gap: 2rem;
    }
  }
  &__emoji-panel {
    display: flex;
    text-align: center;
  }
  &__container {
    display: flex;
    column-gap: 1rem;
    margin-bottom: 1.5rem;
  }
  &__avatar {
    background-color: map.get(colors.$secondary-colors, "mercury");
    width: 2.25rem;
    height: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
    margin-top: 1.5rem;
    background-size: cover;
    background-position: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 1rem;
  }
  &__input {
    display: flex;
    flex-direction: column;
  }

  &__textarea {
    height: 4.5rem;
    resize: none;
    padding: 0.75rem;
    &--error {
      border-color: #d22d2d !important;
    }
    @include mixins.tablet {
      height: 6rem;
    }
    @include mixins.desktop {
      height: 6rem;
    }
  }

  //Comment List Styling
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    display: flex;
    column-gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid map.get(colors.$secondary-colors, "mercury");
    &:last-child {
      border-bottom: 1px solid map.get(colors.$secondary-colors, "mercury");
    }
  }
  &__image {
    background-color: map.get(colors.$secondary-colors, "mercury");
    width: 2.25rem;
    height: 2.25rem;
    max-height: 2.25rem;
    border-radius: 50%;
  }
  &__detail {
    display: flex;
    justify-content: space-between;
  }
  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 0.25rem;
  }
  &__name {
    font-weight: 600;
  }
  &__date {
    color: map.get(colors.$primary-colors, "silver");
  }
  @include mixins.tablet {
    padding: 3rem 2rem 2rem;
  }
  @include mixins.desktop {
    padding: 3rem 10rem 2rem;
  }
}
