@use "../../App.scss";
@use "../../styles/partials/colors";
@use "sass:map";
.video-card {
  display: flex;
  padding: 0.25rem 1rem;
  column-gap: 1rem;
  height: 5rem;
  &__image {
    background-color: map.get(colors.$primary-colors, "mercury");
    width: 30%;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
  }
}
