@use "./styles/partials/typography";
@use "./styles/partials/mixins";
@use "./styles/partials/colors";
@use "sass:map";

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Avenir Next", "Avenir Next Pro";
}
a {
  font-size: 0.812rem;
  color: map.get(colors.$primary-colors, "brainflix-black");
  text-decoration: none;
  @include mixins.tablet {
    font-size: 0.875rem;
  }
}

ul li {
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  @include mixins.tablet {
    font-size: 3.75rem;
  }
}
h2 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: map.get(colors.$primary-colors, "silver");
}
h3,
q {
  font-size: 0.812rem;
  font-weight: 600;
  @include mixins.tablet {
    font-size: 0.875rem;
  }
}
p {
  font-size: 0.812rem;
  font-weight: 400;
  @include mixins.tablet {
    font-size: 0.875rem;
  }
}
label {
  font-size: 0.75rem;
  font-weight: 600;
  color: map.get(colors.$primary-colors, "silver");
  margin-bottom: 4px;
  text-transform: uppercase;
}
input[type="text"],
textarea[type="text"],
input[type="search"] {
  font-size: 0.75rem;
  font-family: "Avenir Next", "Avenir Next Pro";
  border-radius: 4px;
  overflow-y: hidden;
  border: 1px solid map.get(colors.$secondary-colors, "mercury");
  &:focus {
    outline: none;
    border: 2px solid map.get(colors.$primary-colors, "brainflix-blue");
  }
  &:active {
    outline: none;
    border: 2px solid map.get(colors.$primary-colors, "brainflix-blue");
  }
}

input[type="button"] {
  font-size: 0.75rem;
  height: 40px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: map.get(colors.$primary-colors, "brainflix-blue");
  color: map.get(colors.$primary-colors, "white");
  border-radius: 4px;
  &:hover {
    background-color: map.get(colors.$secondary-colors, "brainflix-darkblue");
  }
  @include mixins.tablet {
    width: 9.5rem;
    min-width: 9.375rem;
  }
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: map.get(colors.$primary-colors, "brainflix-black");
  opacity: 1; /* Firefox */
}

hr {
  border: 1px solid map.get(colors.$secondary-colors, "mercury");
  margin: 1rem 0;
}
